div{
    color: blue;
    border-width: 5px;
    border-style: solid;
    border-color: #8bbeb2;
    border-left: solid;
    border-right: solid;
    max-width: 350px;
    text-align: center;
    max-height: 80px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }

nav {
    float: right; 
}

nav a:hover {
    color: #000; 
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 23px;
    position: relative;
    margin-right: 30px;
  }